@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  margin-bottom: 1rem;
}

h1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.15rem;
}

h2 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h3 {
  font-weight: 700;
}

.button {
  background-color: #38c838;
  padding: 0.4em;
  border-radius: 0.6em;
}

.button:hover {
  background-color: #59cf59;
  padding: 0.4em;
}

.pill {
  padding: 0.1em 0.4em 0.1em 0.4em;
  border-radius: 1em;
}
