@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.button {
  background-color: rgb(61, 98, 221);
  color: white;
  padding: 0.2em;
  border-radius: 0.6em;
  border-width: 2px;
  border-color: rgb(140, 160, 226);
}

.button:hover {
  background-color: rgb(47, 77, 175);
  color: white;
  padding: 0.2em;
  border-radius: 0.6em;
  border-width: 2px;
  border-color: rgb(104, 131, 221);
}
